// Colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//  layout setup
@import "layout/normalize.css";
@import "layout/adjustment.scss";
@import "layout/fonts.css";

// Sections
@import "sections/header.scss";
@import "sections/we.scss";
@import "sections/burgers.scss";
@import "sections/team.scss";
@import "sections/menu.scss";
@import "sections/reviews.scss";
@import "sections/charter.scss";
@import "sections/map.scss";
