.menu{
	background-image: url(../img/bg/menu.png);
}

.title-menu{
	position: absolute;
	top: 110px;
	left: 90px;
}

.ac-menu{
	height: 100%;
	width: 50%;
	margin-left: 50%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-end;

	&__item{
		display: flex;
		justify-content: flex-end;

		&-active{
			.ac-menu__trigger-text{
				color: $yellow;
			}

			.ac-menu__content{
				width: 550px;
			}
		}
	}

	&__trigger{
		height: 100%;
		width: 80px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
		cursor: pointer;
		border: none;
		outline: none;
	}

	&__trigger-text{
		font-family: gagalinregular;
		font-size: 40px;
		position: absolute;
		top: 50%;
		width: 650px;
		height: 80px;
		margin-top: -40px;
		white-space: nowrap;
		color: #fff;
		left: 50%;
		margin-left: -309px;
		transform: rotate(-90deg);
		text-align: center;
	}

	&__content{
		width: 0;
		height: 100%;
		background-color: rgba(47, 50, 52, 0.93);
		color: #fff;
		overflow: hidden;
	}

	&__text{
		width: 550px;
		padding: 60px 30px;
		font-family: 'ubuntulight';
		font-size: 14px;
	}
	
}